.modal-content {
    position: relative;
    width: 500px; /* Full screen width */
    height: 100%; /* Full screen height */
}

.modal {
    /* display: none; Initially hidden */
    position: fixed; /* Fixed position */
    top: 50%; /* Start from the vertical center */
    left: 50%; /* Start from the horizontal center */
    transform: translate(-50%, -50%); /* Shift the modal back by half of its width and height */
    z-index: 100; /* Ensure the modal appears on top of other content */
    background-color: rgba(0,0,0,0.4); /* Semi-transparent background for the overlay */
    width: 100%; /* Full screen width */
    height: 100%; /* Full screen height */

    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
}

.actual-form {
    width: 65vh;
    height: 75vh;
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 

    margin: 0;
}



.close-btn {
    position: absolute; /* This will position the button relative to the closest ancestor with a position value other than 'static'. In this case, it's the '.modal-content' container */
    top: 10px; /* Adjust as needed for top spacing */
    right: 10px; /* Adjust as needed for right spacing */
    cursor: pointer; /* This makes it clear that it's clickable */
    font-size: 30px;
}

.left {
    text-align: left;
    font-size: 14px;
}

.form-container-modal {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form button {
    margin-top: 15px;
}

.actual-form img {
    margin-bottom: 10px;
    max-width: 150px;
    max-height: 50px;
    display: block;
}

#login-modal {
    width: 40%;
}