.create-pin-container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.create-left, .create-right {
    margin: 10px;
}

.preview-image {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}

.pin-detail-info {
    text-align: left; /* Adjust as needed */
}